<% if @flat.picture_url.present? %>
  <img src="<%= @flat.picture_url %>" alt="<%= @flat.name %>" class="w-100" style="height: 30vh; object-fit: cover;">
<% end %>

<h1><%= @flat.name %></h1>
<p>
  <%= @flat.address %>
</p>

<h2>A bit more about this flat ...</h2>
<p>
  <%= @flat.description %>
</p>

<h2>Details</h2>
<i class="fa-solid fa-users"></i><%= @flat.number_of_guests %>
<i class="fa-solid fa-dollar-sign"></i><%= @flat.price_per_night %>
